@model HypeTeam_ProjectTele.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td align="center">
                <table class="table-condensed">
                    <tr>
                        <td align="left">
                            @Html.LabelFor(m => m.userID)
                        </td>
                        <td align="right">
                            @Html.TextBoxFor(m => m.userID)
                            <br />
                            @Html.ValidationMessageFor(m => m.userID)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            @Html.LabelFor(m => m.password)
                        </td>
                        <td align="right">
                            @Html.EditorFor(m => m.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            &nbsp;&nbsp;
                            <br />
                            @Html.ValidationMessageFor(m => m.password)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                @ViewBag.ErrorMessage;
            </td>
        </tr>
    </table>
}
