@model HypeTeam_ProjectTele.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<div class="container mt-3">
    <div>
        <h2>Login to Dashboard</h2>
        <div class="row">
            <div class="col-1">
                @Html.LabelFor(m => m.userID)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.userID, new { placeholder = "Username" })
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                @Html.LabelFor(m => m.password)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.password, new { placeholder = "Password" })
            </div>
        </div>
        @Html.ActionLink("Login", "Index", "Home", null, new { @class = "btn btn-outline-dark btn-sm" })
    </div>
</div>
