@using HypeTeam_ProjectTele.Models;
@model LogModel

<div class="mt-3">
    <h2>Create</h2>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)

        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <label for="Value" class="col-sm-3 col-form-label">Patient Age</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.PatientAge, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Patient Age" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Value" class="col-sm-3 col-form-label">Bilirubin Level</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.Value, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Bilirubin Level" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="PhoneID" class="col-sm-3 col-form-label">Phone ID</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.PhoneID, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Phone ID" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="AppVersion" class="col-sm-3 col-form-label">App Version</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.AppVersion, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "App Version" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="OsVersion" class="col-sm-3 col-form-label">OS Version</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.OsVersion, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "OS Version" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="LightLevel" class="col-sm-3 col-form-label">Light Level</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.LightLevel, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Light Level" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="SaturationLevel" class="col-sm-3 col-form-label">Saturation Level</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.SaturationLevel, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Saturation Level" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="HueLevel" class="col-sm-3 col-form-label">Hue Level</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.HueLevel, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Hue Level" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ClinicID" class="col-sm-3 col-form-label">Clinic ID</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.ClinicID, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Clinic ID" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Location" class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Location" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ClinicUserID" class="col-sm-3 col-form-label">Clinic User ID</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(m => m.UserID, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Clinic User ID" } })
                    </div>
                </div>

                <div class="text-right">
                    @Html.ActionLink("Cancel", "Index", "Report", new { @class = "btn btn-outline-dark btn-sm" })
                    <input id="Submit" type="submit" value="Create" class="btn btn-outline-warning btn-sm" />
                </div>
            </div>
        </div>
    }
</div>