@using HypeTeam_ProjectTele.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Report";
}

<div class="container mt-3">
    <h2>Report</h2>
    <input class="form-control float-right" id="myInput" type="text" placeholder="Search by Keywords">
    <table id="myTable" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Bilirubin Level
                </th>
                <th scope="col">
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.LogViewModel.LogList)
                {
                    <tr>
                        <td>@Html.ActionLink(item.ID, "Read", new { id = item.ID }, new { @class = "small" })</td>
                        <td>@item.RecordedDateTime.ToShortDateString()</td>
                        <td>@item.Value</td>
                        <td>@item.Location</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("Create", "Create", "Report", new { @class = "btn btn-outline-dark btn-sm" })
    </div>
</div>

