@using HypeTeam_ProjectTele.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container mt-3">
    <h2>Report</h2>
    <input class="form-control float-right" id="myInput" type="text" placeholder="Search by Keywords">
    <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <!--Table Head-->
        <thead class="thead-dark">
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    Date
                </th>
                <th class="th-sm">
                    App Version
                </th>
                <th class="th-sm">
                    Phone ID
                </th>
                <th class="th-sm">
                    Bilirubin Level
                </th>
                <th class="th-sm">
                    Location
                </th>
            </tr>
        </thead>
        <!-- Table head-->
        <tbody>
            @{
                foreach (var item in Model.LogViewModel.LogList)
                {
                    <tr>
                        <td>@Html.ActionLink(item.ID, "Read", new { id = item.ID }, new { @class = "small" })</td>
                        <td>@item.RecordedDateTime.ToShortDateString()</td>
                        <td>@item.AppVersion</td>
                        <td>@item.PhoneID</td>
                        <td>@item.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>