@using HypeTeam_ProjectTele.Models;
@model LogModel

@{
    ViewBag.Title = "Read";
}
<div class="container mt-3">
    <!-- Page Heading -->
    <h1 class="my-4">
        <a href="#">Report</a>
        <hr>
        <small>Patient ID > @Html.DisplayFor(m => m.ID)</small>
    </h1>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Patient Info</p>
                    </h4>
                    <hr>
                    <p class="card-text">Patient ID: @Html.DisplayFor(m => m.ID)</</p>
                    <p class="card-text">Report Date: @Html.DisplayFor(m => m.RecordedDateTime)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Device Info</p>
                    </h4>
                    <hr>
                    <p class="card-text">Phone ID: @Html.DisplayFor(m => m.PhoneID)</</p>
                    <p class="card-text">Application Version: @Html.DisplayFor(m => m.AppVersion)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Test Info</p>
                    </h4>
                    <hr>
                    <p class="card-text">Bilirubin Level: @Html.DisplayFor(m => m.Value)</</p>
                    <p class="card-text">Recorded Levels</p>
                    <p class="card-text"> <img src="~/Content/Img/lab standard spectrometer.JPG" class="mx-auto d-blosck img-fluid img-thumbnail" /> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Clinic Info</p>
                    </h4>
                    <hr>
                    <p class="card-text">Clinic ID: @Html.DisplayFor(m => m.Value)</</p>
                    <p class="card-text">User ID: @Html.DisplayFor(m => m.UserID)</p>
                    <p class="card-text">Location</p>
                    <p class="card-text">
                        <img src="~/Content/Img/lab standard spectrometer.JPG" class="mx-auto d-blosck img-fluid img-thumbnail" />
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div>
            @Html.ActionLink("Update", "Update", "Report", new { id = Model.ID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", "Report", new { id = Model.ID }, new { @class = "btn btn-danger" })
        </div>
    </div>
