@using HypeTeam_ProjectTele.Models;
@model LogModel

<div class="container mt-3">
    <h2>Report</h2>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Patient Info</h6>
                    <hr>
                    <p class="card-text">Patient ID: @Html.DisplayFor(m => m.ID)</</p>
                    <p class="card-text">Report Date: @Html.DisplayFor(m => m.RecordedDateTime)</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Device Info</h6>
                    <hr>
                    <p class="card-text">Phone ID: @Html.DisplayFor(m => m.PhoneID)</</p>
                    <p class="card-text">Application Version: @Html.DisplayFor(m => m.AppVersion)</p>
                    <p class="card-text">OS Version: @Html.DisplayFor(m => m.OsVersion)</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Test Info</h6>
                    <hr>
                    <p class="card-text">Bilirubin Level: @Html.DisplayFor(m => m.Value)</</p>
                    <p class="card-text">Recorded Levels</p>
                    <img src="~/Content/Img/lab standard spectrometer.JPG" class="mx-auto d-blosck img-fluid img-thumbnail" />
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Photo Info</h6>
                    <hr>
                    <p class="card-text">Light Level: @Html.DisplayFor(m => m.LightLevel)</</p>
                    <p class="card-text">Saturation Level: @Html.DisplayFor(m => m.SaturationLevel)</</p>
                    <p class="card-text">Hue Level: @Html.DisplayFor(m => m.HueLevel)</</p>
                    <p class="card-text">Recorded Photo</p>
                    <img src="~/Content/img/strip.PNG" class="mx-auto d-blosck img-fluid img-thumbnail" />
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Clinic Info</h6>
                    <hr>
                    <p class="card-text">Clinic ID: @Html.DisplayFor(m => m.ClinicID)</</p>
                    <p class="card-text">User ID: @Html.DisplayFor(m => m.UserID)</p>
                    <p class="card-text">Location: @Html.DisplayFor(m => m.Location)</p>
                    <iframe width="100%"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD4B1DjaKxOwMg0hm3j9OotSVe4PyEAXgk&q=@Html.DisplayFor(m => m.Location)"></iframe>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card border-light">
                <div class="card-body">
                    <h6 class="card-title">Test Info</h6>
                    <hr>
                    <p class="card-text">Bilirubin Level: @Html.DisplayFor(m => m.Value)</</p>
                    <p class="card-text">Recorded Levels</p>
                    <img src="~/Content/Img/lab standard spectrometer.JPG" class="mx-auto d-blosck img-fluid img-thumbnail" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Go Back", "Index", "Report", new { @class = "btn btn-outline-dark btn-sm" })
        </div>
        <hr />
        <br />
        <div>
            @Html.ActionLink("Update", "Update", "Report", new { id = Model.ID }, new { @class = "btn btn-outline-dark btn-sm" })
            @Html.ActionLink("Delete", "Delete", "Report", new { id = Model.ID }, new { @class = "btn btn-outline-danger btn-sm" })
        </div>
    </div>
</div>